<footer>
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div>
      <a href="https://plus.google.com/" class="fa fa-google-plus-circle fa-2x"></a>
      <a href="https://twitter.com/" class="fa fa-twitter-square fa-2x"></a>
      <a href="https://www.facebook.com/" class="fa fa-facebook-official fa-2x"></a>
      <a routerLink="/about" class="route">About Us</a>
      <a routerLink="/contact" class="route">Contact Us</a>
    </div>

    <span class="pull-right">Gadget Haven Inc. ©2017 All right reserved.
        By <a href="#" target="_blank" class="route" style="font-size: smaller">e-Site Master</a>
    </span>
  </div>
</footer>
